body {font-family: 'Playfair Display', serif;}

input[type=email], input[type=password] {
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.diekarte{
    width: 10%;
    height: auto;
}


a:link{
    color: black;
}


body{
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background:mediumblue;
}


.box{

  width:300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
